* {
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

header {
  text-align: center;
  font-size: 45px;
}

#calc {
  font-size: 34px;
  border: solid black 2px;
  border-collapse: collapse;
  margin: 50px auto;
}

#calc td {
  border: solid black 2px;
  width: 75px;
  height: 75px;
  text-align: center;
  vertical-align: center;
}

#calc #display {
  text-align: right;
  font-size: 45px;
  padding-right: 10px;
  background-color: black;
  color: white;
}

.digit:hover {
  color: white;
  background-color: black;
}

.op {
  background-color: lightgrey;

}

.op:hover {
  background-color: black;
  color: lightgrey;
}

.clear {
  background-color: lightgrey;

}

.clear:hover {
  background-color: black;
  color: lightgrey;
}


